<h2>コメント詳細</h2>
<div class="row">
  <table class='table table-hover table-inverse'>
            <thead>
                    <tr>
                        <th  class="bg-light">コメント投稿日時</th>
                        <th class="bg-light">コメント内容</th>
                        <th class="bg-light">名前</th>

                        <th colspan="3"></th>
                    </tr>
             </thead>
              <tr>
                              <% @comments.each do |comment| %>

                <td><%= @comment.create.strftime('%Y/%m/%d') %></td>
                <td><%= @comment.comment %></td>
                <td><%= @comment.customer.name %></td>
              </tr>
              <% end %>

    </table>
        </div>
  <!--     
  
  

<%= form_with model: @comment, url: 'admin_comment', method: :get do |f| %>
<% end %>
    <td class="text-center">
    <%= link_to "削除する！", comment_path(@comment),method: :delete, class:"btn dangerbtn-" %></td>

<%= link_to "削除する",  edit_admin_customer_path(@comment.id) ,class: "btn btn-success" %>