<% if @customer.email == "test@test.com"%>
      　<p>ゲストユーザーはユーザー情報の編集ができません。</p>
      <% else %>
         <div class="container">
      <span class="p-3 mb-2 bg-light text-dark">会員情報編集</span>
    </div>
      <%= form_with(model:@customer, url:customer_path, local: true ,method: :patch) do |f| %>
    <%#= form_with(model:@customer, url:customer_path(@customer), local: true ,method: :patch) do |f| %>
    <%#= form_with model: @customer, url:customers_path(@customer) do |f| %>
    </br>
    <div class="field">
      　　<%= f.label :名前 %>&emsp;
    　　　　<%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"山形"%>
    </div>
    <div class="field">
      　　<%= f.label :メールアドレス %>&emsp;
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com"%>
    </div>
    </br>
    <div>
      　　　　　　　　　　　<%= f.submit '変更を保存',class: "btn btn-success"%>


      　　　　　　　　　　　<% end %>
    </div>
    <% end %>
