<% if @customer.email == "test@test.com" %>
<h3>ゲストユーザーはユーザー情報の編集ができません。</h3>
<% else %>
<h2>
  <div class="container">
    <span class="p-3 mb-2 bg-light text-dark">会員情報編集</span>
  </div>
</h2>
<%= form_with(model: @customer, url: customer_path, local: true, method: :patch) do |f| %></br>
<div class="row field">
  <div class="w-25 py-2">
    <%= f.label :ユーザーネーム %>
  </div>
  <div><%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "山形" %></div>
</div>
<div class="row field">
  <div class="w-25 py-2">
    <%= f.label :メールアドレス %>
  </div>
  <div><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></div>
</div></br>
<div style="text-align:center">
  <div class="row actions">
    <div class="w-75 py-3">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
      <% if current_customer.id == @customer.id %>
        <%= link_to "退会", customer_path(@customer.id), method: :delete, data: { confirm: "【確認】アカウントを削除してもよろしいですか？" } %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>