<div class="mx-auto" style="width:500px">
 <div class="container">
   <span class="p-3 mb-2 bg-light text-dark">マイページ
   </span>
 </div>
 </br>

 <div class="mx-auto" style="width:750px">
 <div class="container">
 <p class="text-left">
<th>登録情報</th>
<div class="container-left">
       <div class="row">
    <!--<table class='table table-hover table-inverse'>-->
    		<table class="table col table-bordered">
    <!--<table class="table table-bordered">-->

      <div class="table-secondary">
            <tr><td class="bg-light">氏名</td>
            <td><%= current_customer.name %></td></tr>
            <tr><td class="bg-light">メールアドレス</td>
            <td><%= current_customer.email %></td></tr>
      </div>
    </table>
    <!--</table>-->

    <%= link_to "編集する", customer_edit_path(current_customer) ,class: "btn btn-success" %>
</div>
</div>
</br>
</p>
</div>
</div>



<div class="XXXX">
  <p><%= current_customer.name %>さんの投稿一覧</p>

  <% @posts.each do |post| %>
    <div class="YYYY" style="background-image: url(<%= post.image %>);">
      <%= simple_format(post.text) %>
      <span class="ZZZZ"><%= post.name %></span>
    </div>
  <% end %>
</div>

	<% @posts.each do |post| %>
			<div class="col-3">
				<%= link_to post_path(post) do %>
				<div>
				<p>
				<% if post.image.attached? %>
				<%= image_tag post.image, size: "200x200" %>
				<% else %>
				<%= image_tag 'no_images', size: "200x200" %>
				<% end %>
				</p>
				</div>
				</div>
				<% end %>
								<% end %>




