<!--<h2>Log in</h2>-->

<!--<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<!--    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
<!--    <%#= f.password_field :password, autocomplete: "current-password" %>-->
<!--  </div>-->

<!--  <%# if devise_mapping.rememberable? %>-->
<!--    <div class="field">-->
<!--      <%#= f.check_box :remember_me %>-->
<!--      <%#= f.label :remember_me %>-->
<!--    </div>-->
<!--  <%# end %>-->

<!--  <div class="actions">-->
<!--    <%#= f.submit "Log in" %>-->
<!--  </div>-->
<!--<%# end %>-->

<!--<%#= render "admin/shared/links" %>-->




<div class="mx-auto" style="width: 1000px">
 <div class="container">
   <span class="p-3 mb-2 bg-light text-dark">管理者ログイン
   </span>
 </div>
</div>
    <div class="container">
      <% resource = Admin.new unless resource %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mx-auto" style="width: 300px">
        <div class="form-group row my-100">

            <div class="field">
          <%= f.label :email,"メールアドレス" %>  &emsp;
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sampla@example.com" %>
            </div>
            <div class="field"></br>
          <%= f.label :password,"パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

           <div class="actions">
             <div class="text-center my-3">
               <%= f.submit "ログイン",class: "btn btn-primary"%>
               </div>
           </div>
         </div>
         <% end %>
        </div>
      </div>
  <%= render "admin/shared/links" %>



