<!--<div class="col-lg-13 mx-auto">-->
<!--<div class="container">-->
	<!--<div class="row">-->
<!--	<h1>都道府県一覧</h1>-->
<!--	<div class="col-lg-8 mx-auto">-->
<!--		<div class="row">-->
<!--			<div class="col-3">-->
<!--				<div>-->
<!--				<p>-->
					<%#  @post.image.attached? %>
					<%#= image_tag item.image, size: "90x90" %>
<!--				</p>-->
<!--					<p>-->
						<%#= @post.name %>
<!--					</p>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->




<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%#= render 'posts/info', post: @post, customer: @customer_new %>
      </div>
      <div class='col-md-8 offset-md-1'>
      	<h2> おすすめの撮影スポットサイト</h2>
      	<h5>写真好きの写真好きによる
      	</br>
      	写真好きの為のサイトです📸</h5>
        <table class='table table-hover table-inverse'>

                  <tbody>
                <tbody>

                  <tr>
                     <td>

                  <% @posts.each do |post| %>
                  <%= link_to post_path(post) do %>
                  <% if post.image.attached? %>
                  <%# if @post.image.attached? %>

					<%= image_tag post.image.variant(resize: "300x200").processed, class: "img-fluid" %>
					<% else %>
					<%= image_tag 'no_image', size: "450x450" %>
					<% end %>
					<% end %>
					<div>写真の住所　<%= post.address %></div>
					<div>写真の紹介文　<%= post.introduction %></div>
					<div>タグ　　　<%= post.hash_tags %></div>
					 <p>投稿者　<%= post.customer.name %></p>
					 
					 </td>
					 </tr>
					 </tbody>
                    </table>
                    </div>
                    </tbody>

                      </div>
                      </div>
  <% end %>
                      <div class="mx-auto" style="width: 100px">
	<!--<p class="text-center">-->
	<!--<%#= paginate @posts %>-->
	<!--</p>-->
</div>





<!--<div class="content-wrapper">-->
<!--    <div class="content-block">-->
<!--        <div class="content">-->
<!--         <div class="user-about">-->


<!--         <div class="profile">-->
<!--            <div class="name-history">-->
<!--             </div>-->
<!--         </div>-->
<!--       </div>-->


         <!--<div class="action-menu">-->
         <!--    <div class="like">-->
         <!--    いいね件数:-->
             <%#= @post.likes.count %>
             <%# if current_customer.already_liked?(@post) %>
         <!--      <%#= button_to 'いいねを取り消す', posts_id_path(@post), method: :delete %>-->
             <%# else %>
         <!--      <%#= button_to 'いいね', post_new_path(@post) %>-->
             <%# end %>
         <!--    </div>-->
         <!--    <div class="comment">-->

         <!--    </div>-->
         <!--</div>-->



<!--        </div>-->
        <%# end %>

<!--    </div>-->

<!--</div>-->
<%#= link_to 'Delete', post_new_path(@post), method: :delete, data: {confirm: '削除しますか？'} %>





