<div class="text-center">
  <h1>おすすめの撮影スポットサイト</h1>
  <p>写真好きの写真好きによる<br>
  写真好きの為のサイトです📸
  </p>
</div>
<div class="d-flex justify-content-end">
  <%= form_with url: posts_path, method: :get, local: true, class: "boards__searchForm" do |f| %>
  <div class="input-group">
    <%= f.text_field :keyword, value: @keyword, class: "form-control search-control", placeholder: "キーワードを入力" %>
    <span class="input-group-btn input-group-append">
      <%= button_tag name: "", class: "btn btn-secondary" do %>
      <i class="fas fa-search"></i>検索
      <% end %>
    </span>
  </div>
</div>
<% end %><br>
<div class="row">
  <% @posts.each do |post| %>
  <div class="col-3">
    <%= link_to post_path(post) do %>
    <div>
      <p>
        <% if post.image.attached? %>
        <%#= image_tag post.image, size: "300x300" %>
        <%= image_tag post.image.variant(resize: "250x250").processed, class: "img-fluid", style: "height:300px; width:300px;" %>
      <% else %>
    <%= image_tag "no_image", size: "80x80" %>
  <% end %>
      </p>
    </div>
  <% end %>
  </div>
<% end %>
</div>
<p class="text-right">
  <%= link_to "全ての投稿を見る>", posts_path %>
</p>