    <%= form_with url: search_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword %>
    <%= form.submit "検索" %>
  <% end %>
  <h2>検索結果 "<%= @keyword %>"</h2>
  <ul>
    <% @posts.each do |post| %>
    <li>
      <%= link_to post_path(post.id) do %>
      <%= image_tag post.image.variant(gravity: :center, resize: "640x640^", crop: "640x640+0+0"), if post.image.attached?
                    end %>
    <% end %>
    </li>
  <% end %>
  </ul>