<div class="row">
  <div class="col-md-6">
    <div class="p-3 mb-2 bg-light text-dark">
      <%= @customer.name %>さんの会員詳細情報編集
    </div>
    <div class="container">
      <%= form_with(model: @customer, url:admin_customer_path, local: true ,method: :patch) do |f| %>
      </br>
      <div class="field">
        <%= f.label :会員ID %>
        　　　　　　　　　　<%= @customer.id %>
      </div>
      <div class="field">
        <%= f.label :氏名　　　 %>
      　　　　　　　<%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"山田"%>
      </div>
      <div class="field">
        <%= f.label :メールアドレス%>
  　　　　　<%= f.text_field :email, autofocus: true, id:"inputName", placeholder:"hoge@example.com"%>
        </div>
        <tr>
          </br>
          <div class="field">
            <%= f.submit '変更を保存',class: "btn btn-success"%>
            <% end %>
            <td class="text-center">
              　　　　　　<%= link_to "削除する", admin_customer_path(@customer.id),method: :delete, class:"btn btn-danger" %></td>
         </tr>
           </div>
        </div>
  </div>
</div>
