<div class="row">
  <div class="col-md-6">
    <div class="p-3 mb-2 bg-light text-dark">
      <%= @customer.name %>さんの会員詳細
    </div>
    <table>
      <tr>
        <td>　　　　 　    会員ID</td>
        <td>
          <td><%= @customer.id %></td>
         </td>
        </tr>
            <tr>
              <td>　　 　　　名前</td>
              <td>
                <td><%= @customer.name %></td>
               </td>
              </tr>
                  <tr>
                    <td>　　　　　メールアドレス</td>
                    <td>
                      <td><%= @customer.email %></td>
                    </td>
                    </tr>
                    <td><%= link_to "編集する" ,edit_admin_customer_path(@customer.id) ,class: "btn btn-success" %></td>
    </table>
  </div>
</div>