<div class="row">
  <div class="col-md-6">
    <div class="p-3 mb-2 bg-light text-dark">
      <%= @customer.name %>さんの会員詳細
    </div>
    <table>
      <tr>
        <td>会員ID</td>
          <td><%= @customer.id %></td>
       </tr>
      <tr>
        <td>名前</td>
          <td><%= @customer.name %></td>
      </tr>
          <tr>
            <td>メールアドレス</td>
              <td><%= @customer.email %></td>
          </tr>
              <td>
                </br>
                　　　　　　　　　　<%= link_to "編集する" ,edit_admin_customer_path(@customer.id) ,class: "btn btn-success" %>
            　</td>
      </table>
  </div>
</div>
