<h2>Actions --></h2>
<%= link_to 'Tags List', tags_path %>
<%= link_to 'Delete', tag_path(@tag), method: :delete, data: {confirm: '関連づいた記事のタグが空になりますがタグを削除しますか？'} %>

<h2>Tag --></h2>

<%# タグ名 %>
<h3><%= @tag_name %></h3>

<%# タグに関連付く記事一覧 %>
<ul>
  <% @tag.posts.each do |post| %>
    <li>
      <%= link_to post.hash_tags, tag_path %>
    </li>
  <% end %>
</ul>
      <% @posts.each do |post| %>
                  <%= link_to post_path(post) do %>
                  <% if post.image.attached? %>
                  <%= image_tag post.image.variant(resize: "300x200").processed, class: "img-fluid" %>
                  <% else %>
                  <%= image_tag 'no_image', size: "450x450" %>
                  <% end %>
                  <% end %>
                  <% end %>

                  