<%= form_with url: search_posts_path, local: true, method: :get do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する" %>
  <%= form.submit "検索" %>
<% end %>





<%= link_to 'Tags List', tags_path %>

<% @posts.each do |post| %>
  <div>
    <%= link_to post.customer, post_path(post) %>
  </div>
<% end %>
    <%= @post.post_tags.count %>



<%# @posts.each do |post| %>
        <%# end %>   

<div class="XXXX">
  <p><%= current_customer.name %>さんの投稿一覧</p>

  <% @posts.each do |post| %>
  
    <div class="YYYY" style="background-image: url(<%= post.image %>);">
      <%= simple_format(@post.create_customer.name) %>
      <span class="ZZZZ"><%= @post.create_customer.image %></span>
    </div>
  <% end %>
</div>



<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>Books</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
              </tr>
              </thead>
                  <tbody>
                <tbody>
                   <% @posts.each do |post| %>
                  <tr>
                     <td>
                       <%= link_to customer_path(post.customer) do %>
                       <%= image_tag post.image, size: "100x50" %>
                       <% end %>
                     </td>
                     <td><%= link_to post_path(post), method: :get do %>
                  <%= post.address %>
                  <% end %>
                  </td>
                    <td><%= post.introduction %></td>
                    </tr>
                    <% end %>


                                         <td>

           
   </td>

                    <% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    <p>ユーザーネーム：<%= post.customer.name %></p>
    <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
    </div>
<% end %>
</tbody>
</table>
                    </div>
                    </tbody>

                      </div>
                      </div>
                    