
    <h2>
      <div class="container">
        <span class="p-3 mb-2 bg-light text-dark">Тќ░УдЈТіЋуе┐­ЪЊи</span>
            <h4>Рђ╗тЁесЂдсЂ«жаЁуЏ«сѓњтЁЦтіЏсЂЌсЂдТіЋуе┐сЂЌсЂдСИІсЂЋсЂё№╝Ђ</h4>

        </div>
     </h2>
     <div class="mx-auto" style="width: 650px">
        <p><% if @post.errors.any? %>
    <div class="alert-danger">
      <h3><%= @post.errors.count %>С╗ХсЂ«сѓесЃЕсЃ╝сЂїуЎ║ућЪсЂЌсЂЙсЂЌсЂЪсђѓ</h3>
        <p><% @post.errors.full_messages.each do |message| %></p>
        <p class='error-message'><%= message %></p>
        <% end %>
    </div>
<% end %>
</p>
</div>
</br>

<div class="mx-auto" style="width: 400px">
  <%= form_with model: @post, url:posts_path  do |f| %>

  <%#= form_with model:@post do |f| %>
  <div class="inputImage">
    <%= f.label :тєЎуюЪ %>&emsp;
    <%= f.file_field :image, placeholder: "тєЎуюЪ", accept: "image/*" %>
  </div>
  <div class="field">
      <%= f.label :тєЎуюЪсЂ«СйЈТЅђ %> &emsp;
      сђђ<%= f.text_field :address, autofocus: true, id:"inputName", placeholder:"сђњ997-0045  т▒▒тйбуюїжХ┤т▓АтИѓУЦ┐Тќ░Тќјућ║9-10"%>
  </div>
  <div class="field">
      <%= f.label :тєЎуюЪсЂ«у┤╣С╗ІТќЄ %> &emsp;
      <%= f.text_area :introduction, placeholder:"сЂЊсЂЊсЂФу┤╣С╗ІТќЄсѓњУеўУ┐░сЂЌсЂЙсЂЎсђѓ", size:"30x5" %>
  </div>
  <div class="field">
      <%= f.label :сѓ┐сѓ░ %>&emsp;
      сђђсђђсђђсђђ<%= f.text_field :hash_tags, autofocus: true, id:"inputPrice", placeholder: "№╝Ѓт▒▒тйбуюї №╝ЃТ░┤ТЌЈжце №╝Ѓсѓ»сЃЕсѓ▓"  %>
  </div>
    </br>
  <div class="actions">&emsp;
    сђђсђђсђђсђђсђђсђђсђђсђђсђђсђђ<%= f.submit "ТіЋуе┐сЂЎсѓІ",class: "btn btn-success" %>
  </div>
    <% end %>
    </div>
