<h2>
  <div class="container">
    <span class="p-3 mb-2 bg-light text-dark">Тќ░УдЈТіЋуе┐­ЪЊи</span>
    <h4>Рђ╗тЁесЂдсЂ«жаЁуЏ«сѓњтЁЦтіЏсЂЌсЂдТіЋуе┐сЂЌсЂдСИІсЂЋсЂё№╝Ђ</h4>
  </div>
</h2>
<div class="mx-auto" style="width: 650px">
  <p><% if @post.errors.any? %>
  <div class="alert-danger">
    <h3><%= @post.errors.count %>С╗ХсЂ«сѓесЃЕсЃ╝сЂїуЎ║ућЪсЂЌсЂЙсЂЌсЂЪсђѓ</h3>
    <p><% @post.errors.full_messages.each do |message| %></p>
    <p class='error-message'><%= message %></p>
    <% end %>
  </div>
<% end %>
  </p>
</div>
</br>
<div class="mx-auto" style="width: 400px">
  <%= form_with model: @post, url:posts_path  do |f| %>
  <div class="row inputImage">
    <div class="w-25 py-2"><%= f.label :тєЎуюЪ %></div>
    <div><%= f.file_field :image, placeholder: "тєЎуюЪ", accept: "image/*" %></div>
  </div>
  <div class="row field">
    <div class="w-25 py-2"><%= f.label :тєЎуюЪсЂ«СйЈТЅђ %></div>
    <div><%= f.text_field :address, autofocus: true, id:"inputName", placeholder:"сђњ997-0045  т▒▒тйбуюїжХ┤т▓АтИѓУЦ┐Тќ░Тќјућ║9-10"%></div>
  </div>
  <div class="row field">
    <div class="w-25 py-2"><%= f.label :тєЎуюЪсЂ«у┤╣С╗ІТќЄ %>
    </div>
    <div><%= f.text_area :introduction, placeholder:"сЂЊсЂЊсЂФу┤╣С╗ІТќЄсѓњУеўУ┐░сЂЌсЂЙсЂЎсђѓ", size:"30x5" %></div>
  </div>
  <div class="row field">
    <div class="w-25 py-2"><%= f.label :сѓ┐сѓ░ %>
    </div>
    <div><%= f.text_field :hash_tags, autofocus: true, id:"inputPrice", placeholder: "№╝Ѓт▒▒тйбуюї №╝ЃТ░┤ТЌЈжце №╝Ѓсѓ»сЃЕсѓ▓"  %></div>
  </div>

  <div style="text-align:center">
  <div class="row actions">
    <div class="w-75 py-3"><%= f.submit "ТіЋуе┐сЂЎсѓІ",class: "btn btn-success" %>
  </div>
  </div>
  </div>
<% end %>
</div>