<div class="mx-auto" style="width: 800px">
  <div class="container">
    <span class="p-3 mb-2 bg-light text-dark">新規投稿📷</span>
  </div>
        <p>※全ての項目を入力して投稿して下さい！</p>

</div>
<div class="mx-auto" style="width: 400px">
     <%= form_with model: @post, url:posts_path ,local: false do |f| %>

  <%#= form_with model:@post do |f| %>
  <div class="inputImage">
      <%= f.label :写真 %>&emsp;
    <%= f.file_field :image, placeholder: "写真", accept: "image/*" %>
  </div>
  <div class="field">
      <%= f.label :写真の住所 %> &emsp;
      　<%= f.text_field :address, autofocus: true, id:"inputName", placeholder:"〒997-0045  山形県鶴岡市西新斎町9-10"%>
  </div>
  <div class="field">
      <%= f.label :写真の紹介文 %> &emsp;
      <%= f.text_area :introduction, placeholder:"ここに説明文を記述します。", size:"30x5" %>
  </div>
  <div class="field">
      <%= f.label :タグ %>&emsp;
      　　　　<%= f.text_field :hash_tags, autofocus: true, id:"inputPrice", placeholder: "＃山形県 ＃水族館 ＃クラゲ"  %>
  </div>
    </br>
  <div class="actions">&emsp;
    　　　　　　　　　　<%= f.submit "投稿する",class: "btn btn-success" %>
  </div>
    <% end %>
    </div>