<h1>Customer::Posts　index#show</h1>
<p>Find me in app/views/customer/posts　index/show.html.erb</p>



<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h2>Actions --></h2>
<%= link_to 'Top', root_path %>
<%= link_to 'Edit', post_new_path(@post) %>
<%= link_to 'Delete', post_new_path(@post), method: :delete, data: {confirm: '削除しますか？'} %>

<h3>Title --></h3>


<h3>Tags --></h3>
<ul>
  <%# 該当のPostからアソシエーションでタグを取得 %>
  <%# @post.tag.each do |tag| %>
    <%# タグを展開 %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
    </li>
  <%# end %>
</ul>







<%= form_with model: @post, url: 'customer_posts', method: :get do |f| %>
<% end %>
  <div class="mx-auto" style="width: 1000px">
 <div class="container">
   <span class="p-3 mb-2 bg-light text-dark">商品詳細
   </span>
 </div>
  </div>
  </br>




  <div class="mx-auto" style="width: 200px">
    <div style="text-align:center">
    <%= link_to "編集する",  post_new_path(@post) ,class: "btn btn-success" %>
  </div>
  </div>



<%= form_with model: @item, url: 'admin_items', method: :get do |f| %>
<% end %>
  <div class="mx-auto" style="width: 1000px">
 <div class="container">
   <span class="p-3 mb-2 bg-light text-dark">商品詳細
   </span>
 </div>
  </div>
  </br>
  
  !
  <%= form_with model: @item, url: 'admin_items', method: :get do |f| %>
<% end %>
  <div class="mx-auto" style="width: 1000px">
 <div class="container">
   <span class="p-3 mb-2 bg-light text-dark">商品詳細
   </span>
 </div>
  </div>
  </br>
