<div class="row">
  <div class="col-md-6">
    <% if @post.image.attached? %>
      <%= image_tag @post.image, class: "img-fluid" %>
    <% else %>
      <%= image_tag 'no_image', class: "img_fluid" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div>写真の住所　<%= @post.address %></div>
    <div>写真の紹介文　<%= @post.introduction %></div>
    <div>タグ　　　<%= @post.hash_tags %></div>
    <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
    <p>投稿者　<%= @post.customer.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-12">
          <% if customer_signed_in? %>
    <div class="like-btn">
      <% if current_customer && current_customer.bookmark?(@post.id) %>
        <%=link_to post_bookmarks_path(@post), method: :delete, remote: false do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to post_bookmarks_path(@post), method: :post, remote: false do %>
          <span class="fa fa-heart-o like-btn"></span>
        <% end %>
      <% end %>
    </div>
<% end %>
    <div class="like-btn">
      <h3>いいね件数：<%= @bookmark_count %></h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= form_with model: [@post, @comment] do |f| %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <div class="form-group">
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに入力する。", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "送信する", class: "btn btn-success btn-block" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-8">
    <h3>コメント件数：<%= @post.comments.count %></h3>

    <% @comments.each do |comment| %>
      <table class="table">
        <tbody>
          <tr>
            <th><%= comment.customer.name %></th>
            <td>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
              <% if comment.customer == current_customer %>
                <%=link_to "消去", comment_path(comment), method: :delete, remote: false, class: "btn btn-xs btn-danger" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>コメント内容: </th>
            <td><%= comment.comment %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<% if customer_signed_in? && current_customer.id == @post.customer_id %>
       <li>
    <%= link_to "編集", edit_post_path(@post.id), class: "YYYY" %>
     </li>

    <td class="text-center">
        <%= link_to "削除する", post_path,method: :delete, class:"btn dangerbtn-" %></td>
<% end %>

