<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Osusumenosatueisupotto</title>-->
<!--    <meta name="viewport" content="width=device-width,initial-scale=1">-->
<!--    <%#= csrf_meta_tags %>-->
<!--    <%#= csp_meta_tag %>-->

<!--    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
<!--    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>-->
<!--  </head>-->
<!--</html>-->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="<%= (admin_signed_in? ? "admin_header" : "" ) %>">
      <div class="header-content">
        <ul class="flex">
          <% if admin_signed_in? %>
            <li><%= link_to 'ユーザー一覧',  admin_customers_path %></li>
            <li><%= link_to 'コメント一覧',    admin_comments_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>

          <% elsif customer_signed_in? %>
          <p>ようこそ、<%= current_customer.name %>さん!</p>
            <li><%= link_to 'トップページ', root_path %></li>
            <li><%= link_to '新規投稿', new_post_path %></li>
            <li><%= link_to 'マイページ', customer_path %></li>
            <li><%= link_to 'いいね一覧', bookmarks_path %></li>
            <li><%#= link_to 'ログアウト', customers_guest_sign_in_path, method: :get %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
            <li><%#= form_with(url:destroy_customer_session_path, method: :delete) do |f| %>
            <%#= f.submit 'ログアウト' %>
            ’キーワード検索’
            <li><%= link_to 'タグ検索', search_posts_path %></li>
            <%# end %></li>

                      <!--<p>ようこそ、  ゲストさん!</p>-->
          <% else %>
            <li><%= link_to 'ゲストログイン', customer_guest_sign_in_path, method: :post %></li>
            <li><%= link_to '会員登録', new_customer_registration_path %></li>
            <li><%= link_to 'ログイン', new_customer_session_path %></li>
          <% end %>
        </ul>
        <%# if admin_signed_in? %>
          <%#= form_tag(admin_search_path, method: :get) do %>
            <%#= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名,セイ,メイ / 商品: 商品名" %>
            <%#= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "item" }) %>
            <%#= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
            <%#= submit_tag '検索', class: "btn btn-primary" %>
          <%# end %>
        <%# end %>

      </div>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
